.formContainer{
    width: 40%;
    height: 350px;
    box-shadow: -6px 10px 10px 3px rgba(189,185,189,1);
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.button{
    width: 100%;
    border-radius: 5px;
    background-color: blueviolet;
}

.divInput{
    width: 75%;
    height: 12%;
}

.select{
    display: flex;
}

h4{
    align-items: center;
}